@model IEnumerable<GerenciamentoClientes.Models.Cliente>
<div class="newContent" style="min-height: 636px; display: flex; flex-direction: column;">

    <h4 class="card-title">ListaClientes</h4>
    <hr />
  
    <!-- Filtros -->
    <div class="row" style="display: flex; flex-direction: row-reverse;">
        <div class="mt-2">
            <span>Total de Registros: @ViewBag.TotalRegistros</span>
        </div>
        <div class="col-md-6 mb-3">
            <div class="input-group col-md-12">
                <select class="form-select" id="filtroTipo" style="max-width: 8rem;">
                    <option value="nome">Nome</option>
                    <option value="cep">CEP</option>
                    <option value="email">Email</option>
                </select>
                <input type="text" class="form-control col-md-5" id="filtroValor" placeholder="Pesquisar">
                <button class="btn btn-outline-secondary" type="button" id="btnFiltrar">Filtrar</button>
            </div>
        </div>
    </div>

    <!-- Tabela de Clientes -->
    <div class="table-responsive table" id="tableContent">
        <partial name="_TabelaClientes" model="@Model" />
    </div>

    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-auto">
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="#" onclick="ClienteService.ChangePage(@i)">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
